<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>368099149548-d0gsohrv5mmrhiqog1a3u5vh9cvpudts.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.368099149548-d0gsohrv5mmrhiqog1a3u5vh9cvpudts</string>
	<key>API_KEY</key>
	<string>AIzaSyAurjD1QOpHxZscnnO8ffgTJbSty5BCnQI</string>
	<key>GCM_SENDER_ID</key>
	<string>368099149548</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fluttersamplestart</string>
	<key>PROJECT_ID</key>
	<string>samplesocial-5a43d</string>
	<key>STORAGE_BUCKET</key>
	<string>samplesocial-5a43d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:368099149548:ios:ae68684ab0f6d42707c7c9</string>
</dict>
</plist>